@{
    ViewBag.Title = "Billboards";
}

<div class="jumbotron">
    <h1>Биллборды в Томске</h1>
    <p class="lead">На данной странице представлены все биллборды, для просмотра доступных для аренды нажмите "свободные"</p>
</div>


<div class="billboards">
    <div class="gmap"> <div id="googleMap"></div> </div>
    <div class="blist" id="blid">
        <div class="billboardMenu active" id="all">Все</div>
        <div class="billboardMenu" id="free">Свободные</div>
        <div class="billboardContainer">
            @foreach (var b in ViewBag.Billboards)
            {
                <div class="billboard" id="@b.Id" free="@((b.TenantId == null || b.TenantId == "").ToString())" onclick="window.location='/Home/More/@b.Id';">
                    @b.Description
                    <br> Площадь: @((b.Height * b.Width).ToString("0.0")) m<sup>2</sup>
                    <br> Цена @b.Cost рублей в месяц
                </div>
            }
        </div>
    </div>
</div>


<script>
    var arrMarkers = {};
    var arrIW = {};
    var globMap;
    function initMap() {
        var Tomsk = new google.maps.LatLng(56.5010, 84.9925);
        var map = new google.maps.Map(document.getElementById('googleMap'),
            {
                zoom: 11,
                center: Tomsk
            });
        globMap = map;
        @foreach (var billboard in ViewBag.Billboards)
        {
            @:addMarker(@billboard.Lat, @billboard.Long, '@billboard.Description', Number(@billboard.Width * @billboard.Height).toFixed(1), map, '@billboard.Id');
        }

        initMenu();
    }

    function initMenu() {

        document.getElementById("all").style.background = "#007bff";
        document.getElementById("all").style.cursor = "default";

        document.getElementById("all").addEventListener("mouseover", function () { menuMouseOver("all") });
        document.getElementById("all").addEventListener("mouseout", function () { menuMouseOut("all") });
        document.getElementById("all").addEventListener("click", function () { menuClick("all") });
        document.getElementById("free").addEventListener("mouseover", function () { menuMouseOver("free") });
        document.getElementById("free").addEventListener("mouseout", function () { menuMouseOut("free") });
        document.getElementById("free").addEventListener("click", function () { menuClick("free") });

    }

    function menuMouseOver(id) {
        if (document.getElementById(id).classList.contains("active")) {
            document.getElementById(id).style.background="#007bff";
            } else {
            document.getElementById(id).style.background = " #e9ecef";
                }
    }

    function menuMouseOut(id) {
        if (document.getElementById(id).classList.contains("active")) {
            document.getElementById(id).style.background="#007bff";
        } else {
            document.getElementById(id).style.background = " #fff";
        }
    }

    function menuClick(id) {
        if (id == "all") {
            if (!document.getElementById(id).classList.contains("active")) {
                showDiv();
                document.getElementById(id).style.cursor = "default";
                document.getElementById(id).style.background = "#007bff";
                $(document.getElementById(id)).addClass("active");
                document.getElementById("free").style.background = "#fff";
                $(document.getElementById("free")).removeClass("active");
                document.getElementById("free").style.cursor = "pointer";
            }
        } else {
            if (!document.getElementById(id).classList.contains("active")) {
                hideDiv();
                document.getElementById(id).style.cursor = "default";
                document.getElementById(id).style.background = "#007bff";
                $(document.getElementById(id)).addClass("active");
                document.getElementById("all").style.background = "#fff";
                $(document.getElementById("all")).removeClass("active");
                document.getElementById("all").style.cursor = "pointer";
            }

        }
    }

    function hideDiv() {
        $('.billboard').each(function() {
            if ($(this).attr("free") == "False") {
                $(this).hide();
                var id = $(this).attr("id");
                arrMarkers[id].setVisible(false);
            }
        });
    }

    function showDiv() {
        $('.billboard').each(function () {
            $(this).show();
            var id = $(this).attr("id");
            arrMarkers[id].setVisible(true);
        });
    }

    function addMarker(latitude, longitude, title, description, map, id) {
        var latLng = new google.maps.LatLng(latitude, longitude);
        var contentString = '<h3>' +
            title +
            '</h3>' +
            '<p> Площадь ' +
            description +
            ' м<sup>2</sup></p>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        arrIW[id] = infowindow;
        var marker = new google.maps.Marker({
            position: latLng,
            title: title,
            map: map,
            draggable: false,
        });
        arrMarkers[id] = marker;

        google.maps.event.addListener(marker,
            'click',
            function () {window.location='/Home/More/'+id; });
        google.maps.event.addListener(marker,
            'mouseover',
            function () {
                document.getElementById(id).scrollIntoView({ block: "start", behavior: "smooth" });

                infowindow.open(map, marker);
                $(document.getElementById(id)).addClass("active");
            });

        google.maps.event.addListener(marker,
            'mouseout',
            function () {
                $(document.getElementById(id)).removeClass("active");
                infowindow.close(map, marker);
            });
        document.getElementById(id).addEventListener("mouseover", function () { openWindow(id) });
        document.getElementById(id).addEventListener("mouseout", function () { closeWindow(id) });
    }

    function openWindow(id) {
        arrIW[id].open(globMap, arrMarkers[id]);
    }

    function closeWindow(id) {
        //debugger;
        arrIW[id].close(globMap, arrMarkers[id]);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoa1zfjh_InWn9xUm2JDsuH1QK6-CFdq8&callback=initMap"></script>

